table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
  color: #474747;

  thead {
    width: '100%';
    tr {
      th {
        max-width: 65px;
        font-weight: 400;
        font-size: 0.75rem;
        border-bottom: 1px #c4c4c4 solid;
        margin: 0;
        padding: 1.5rem 0 0.5rem 0;

        > div {
          display: flex;
          justify-content: flex-end;

          p {
            margin: 0;
            text-align: end;
          }

          .isActive {
            color: #00687f;
            font-weight: 600;
          }

          .arrows-container {
            display: flex;
            flex-direction: column;
            margin-left: 0.25rem;
            justify-content: center;

            span {
              cursor: pointer;
              font-size: 0.5rem;
            }
          }
        }
      }

      th:first-child {
        > div {
          justify-content: flex-start;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 0.5rem 0;
        text-align: end;
        font-size: 0.75rem;

        p {
          margin: 0.25rem;
        }
      }

      td:first-child {
        text-align: start;
      }

      .isSorting {
        color: #00687f;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  table {
    width: 100%;
    display: flex;
    justify-content: space-between;
    thead {
      tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }
    tbody {
      width: 100%;
      tr {
        td {
          display: flex;
          flex-direction: column;
          width: 50%;
          margin: 0 50%;
          padding: 0.75rem 0;
          text-align: start !important;
          position: relative;

          p {
            margin: 0;
          }
        }

        td:first-child {
          color: #00687f;
        }

        td:before {
          /* Now like a table header */
          position: absolute;
          text-align: start;
          /* Top/left values mimic padding */
          left: -97%;
          width: 45%;
          white-space: nowrap;
        }

        td:nth-of-type(1):before {
          content: 'Planet  Name';
        }
        td:nth-of-type(2):before {
          content: 'Rotation Period';
        }
        td:nth-of-type(3):before {
          content: 'Orbital Period';
        }
        td:nth-of-type(4):before {
          content: 'Diameter';
        }
        td:nth-of-type(5):before {
          content: 'Climate';
        }
        td:nth-of-type(6):before {
          content: 'Surface Water';
        }
        td:nth-of-type(7):before {
          content: 'Population';
        }
      }

      tr:nth-child(2n) {
        background-color: rgba(229, 229, 229, 0.5);
      }
    }
  }
}
