table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
  color: #474747;
  box-shadow: 0 2px 1px 0 rgba(196, 196, 196, 0.2);

  thead {
    tr {
      th {
        font-weight: 400;
        border-bottom: 1px #c4c4c4 solid;
        margin: 0;
        padding: 0.5rem 0;
        max-width: 60px;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 0.5rem 0;
        p {
          margin: 0.25rem;
        }
      }
    }
  }
}
