table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
  color: #474747;

  thead {
    width: '100%';
    tr {
      th {
        max-width: 65px;
        font-weight: 400;
        font-size: 0.75rem;
        border-bottom: 1px #c4c4c4 solid;
        margin: 0;
        padding: 1.5rem 0 0.5rem 0;

        > div {
          display: flex;
          justify-content: flex-end;

          p {
            margin: 0;
            text-align: end;
          }

          .arrows-container {
            display: flex;
            flex-direction: column;
            margin-left: 0.25rem;
            justify-content: center;

            span {
              cursor: pointer;
              font-size: 0.5rem;
            }
          }
        }
      }

      th:first-child {
        > div {
          justify-content: flex-start;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 0.5rem 0;
        text-align: end;
        font-size: 0.75rem;

        p {
          margin: 0.25rem;
        }
      }

      td:first-child {
        text-align: start;
      }
    }
  }
}
