table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
  color: #474747;
  box-shadow: 0 2px 1px 0 rgba(196, 196, 196, 0.2);

  thead {
    width: '100%';
    tr {
      th {
        max-width: 65px;
        font-weight: 400;
        border-bottom: 1px #c4c4c4 solid;
        margin: 0;
        padding: 1.5rem 0 0.5rem 0;
        > div {
          display: flex;
          justify-content: flex-end;

          p {
            margin: 0;
            text-align: end;
          }

          .arrows-container {
            display: flex;
            flex-direction: column;
            margin-left: 0.25rem;
            justify-content: center;
            span {
              font-size: 0.5rem;
            }
          }
        }
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 0.5rem 0;
        text-align: end;

        p {
          margin: 0.25rem;
        }
      }
    }
  }
}
