.movie-container {
  width: 90%;
  margin: auto;
  background-color: #fff;
  margin: 1rem auto;
  border-radius: 0.25rem;

  .movie-title {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 12px 0 rgba(224, 230, 238, 0.5);
    cursor: pointer;
  }

  img {
    padding: 0;
  }
}
