.App {
  text-align: center;
  background-color: #e0e6ee;
  margin: 0 auto;
  margin-top: 6rem;
  max-width: 50rem;
  border-radius: 0.5rem;
  padding-bottom: 2.5rem;

  img {
    padding: 2em 0 0 0;
  }
}
